
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #faf5f5fb;
    --max-width: 1200px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    background-color: black; /* Background color added */
    color: var(--white); /* Text color added */
    font-family: "Oswald", sans-serif;
  }
  
  .section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    font-family: "Oswald", sans-serif;
  }
  
  .section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem; /* Added margin bottom for spacing */
    font-family: "Oswald", sans-serif;
  }
  
  .btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--secondary-color-dark);
  }
  
  .price__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .price__card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .price__card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
  }
  
  .price_card_content {
    flex: 1;
    margin-bottom: 2rem;
  }
  
  .price__card h4 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .price__card h3 {
   font-family: "Oswald", sans-serif;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    border-bottom: 2px solid var(--white);
  }
  
  .price__card p {
    font-family: "Oswald", sans-serif;
    margin-bottom: 0.75rem;
    color: var(--white);
  }
  
  .price__card p i {
    font-family: "Oswald", sans-serif;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
  }
  
  .price__btn {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
  }
  
  .price__btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
  